ul {
    background-color: gray;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    border-radius: 40px;
    font-size: 20px;

}

li {
    float: left;
}

li a {

    display: inline-block;
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    border: 10px;
    position: relative;
    right: -750px;

}

li a:hover {
    color: black;
}