.Nome {
    text-align: center;
}

#icon-nome {
    width: 40px;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.credit {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-transform: uppercase;

    text-shadow: 2px 2px 8px blueviolet;
}

#verificado {
    position: relative;
    width: 27px;
    bottom: -5px;
}


body {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(116, 116, 116, 0.524) 1%, aqua, rgba(116, 116, 116, 0.524));
}

.back {
    min-height: 100vh;
}